node_modules
dist
build
.git
.gitignore
.env
.env.*
!.env.example
coverage
.nyc_output
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
README.md
Dockerfile
.dockerignore
test
